<div class="container">
  <h1><i class="fa fa-user"></i> Customers</h1>
</div>
<ul class="nav container">
    <li class="nav-item">
      <a class="nav-link"  routerLink="/" routerLinkActive="customer-active">Card View</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/list" routerLinkActive="customer-active"><i class="fa fa-bars"></i> List View</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-map-marker"></i> Map View</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/add" routerLinkActive="customer-active"><i class="fa fa-plus"></i> New Customer</a>
    </li>
  </ul>
